@page
@model WebApp.Pages.SamplePages.IndexModel
@{
    ViewData["Title"] = "Default page in Samples";
}
<h1>Sample default page</h1>
<p>This is the same as the default page within your web page subfolder for your senario in the groupproject</p>
<p>On this page would go: bugs, know problems, etc.</p>

<img src="~/img/ChinookMusic.jpg" alt="Sample Logo image">
